.header {
  display: flex;
  justify-content: space-between;
  border: solid 1px black;
  align-items: center; /* â† This vertically centers the logo */
  padding: 10px 20px; /* Add top/bottom spacing */
}

.logo {
  height: 50%;
  width: 50%;
  margin: 5px;
}

.nav-items {
  padding: 7px;
}

.nav-items > ul {
  font-size: 18px;
  display: flex;
  list-style: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap; /* allows wrapping to next line */
  gap: 10px; /* spacing between cards */
}

.res-card {
  background-color: rgb(205, 205, 205);
  padding: 5px;
  height: auto;
  width: 200px;
  border: solid 1px black;
  margin: 5px;
  margin-top: 10px;
}

.res-card:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.res-logo {
  width: 100%;
}

.filter-btn {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  border: solid 1px black;
  padding-left: 10;
}

.footer-items {
  display: flex;
}

.footer-items > ul {
  font-size: 18px;
  display: flex;
  list-style: none;
}

.footer-items > ul > li {
  padding: 10px;
  margin: 10px;
}
